.loginButton {
  display: block;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  font-size: 1em;
  padding: 5px;
  height: 20px;
  width: 70px;
  border: 1px solid #fff;
  text-align: center;
}
.link {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
.span {
  overflow: hidden;
  white-space: nowrap
}