.pasteButton {
  border-radius: 3px;
  background-color: rgb(97, 186, 101);
  cursor: pointer;
  font-size: 1em;
  padding: 5px;
  height: 20px;
}
.link {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
}
.span {
  overflow: hidden;
  white-space: nowrap
}